body {
  background-image: url("/background-help.jpg");
  background-size: 100%;
}
.App {
  text-align: center;
}

ul {
  background-color: grey;
  list-style: none;
  margin-top: 500px;
}
img {
  width: 130px;
  height: 100px;
}
th,
td {
  border: 1px solid white;
  border-radius: 10px;
}
.table {
  margin-top: 5%;
}
div.giff {
  height: 150px;
  width: 220px;
  position: absolute;
}
.giff {
  background-image: url("/heroe-gif.gif");
  background-size: 220px;
  background-repeat: no-repeat;
}
